body {
    /*width: 1370px;*/
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 1065px;
    margin: 0 auto;
}

.bcg {
    /*background-image: url("../image/background.png");*/
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("../image/background.png");
    background-size: cover;
}

.hd{
    padding-top: 50px;
}

.img-logo {
    float: left;
}

.logo {
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    display: inline-block;
    color: white;
    width: 150px;
    margin-bottom: 50px;
}

.logo:hover{
    background-image: url("../image/logo-oran.png");
    color: #f26522;
}

.logo-top-title{
    display: inline-block;
    font-weight: bold;
    font-size: 29px;
    margin-left: 15px;
    font-family: sans-serif;
    float: right;
}

.logo-bottom-title{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    float: right;

}

.contacts {
    display: inline-block;
    float: right;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    width: 245px;
}

.contacts-email {
    display: inline-block;
    float: right;
}

.contacts-number {
    display: inline-block;
    float: right;
}



.item-product{
    float: left;
    width: 318px;
    /*border: 1px solid red;*/
    margin-right: 55px;
    margin-bottom: 40px;

    position: relative;
}

.three-item-product, .sics-item-product{
    margin-right: 0;
}

.first-item-product-name{
    display: inline-block;
    width: 310px;

    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}


.first-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 1.png");
    background-size: cover;
    background-repeat: no-repeat;

    /*margin-bottom: 20px;*/
}

/*ВИЗУАЛИЗЦИЯ ЦЕНИКА*/

.price-list{
    /*visibility: hidden;*/
    display: none;

    width: 318px;
    height: 60px;

    background-color: #f26522;

    position: relative;
    bottom: -144px;
    left: -3px;
    color: white;

    font-family: sans-serif;
    font-size: 14px;

}

.price{
    display: inline-block;

    font-size: 20px;
    color: white;

    margin-top: 30px;
    margin-left: 25px;

}

.price:before{
    content: "\20AC";
}

.price:after{
    content: "from";
    font-size: 10px;
    position: relative;
    top: -20px;
    left: -32px;
}

.price-list-details{
    position: relative;
    left: 120px;
}

.price-list-details:after{
    content: " ";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right:1px solid white;
    transform: rotate(45deg);
    position: relative;
    top: -2px;
    right: -10px;

}

.first-item-product:hover .first-item-product-name{
    color: #f26522;
}

.item-product:hover .price-list{
    display: inline-block;
}

.second-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 2.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.second-item-product-name{
    display: inline-block;
    width: 310px;

    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}

.second-item-product:hover .second-item-product-name{
    color: #f26522;
}

.second-item-product:hover .second-price-list{

}

.three-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.three-item-product-name{
    display: inline-block;
    width: 310px;


    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}

.three-item-product:hover .three-item-product-name{
    color: #f26522;
}

.four-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.four-item-product-name{
    display: inline-block;
    width: 310px;


    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}

.four-item-product:hover .four-item-product-name{
    color: #f26522;
}

.five-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 5.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.five-item-product-name{
    display: inline-block;
    width: 310px;

    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}

.five-item-product:hover .five-item-product-name{
    color: #f26522;
}

.sics-item-product-foto{
    width: 312px;
    height: 201px;

    border: 3px solid transparent;
    border-image: linear-gradient(to top, black, white);
    border-image-slice: 1;

    background-image: url("../image/Layer 6.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.sics-item-product-name{
    display: inline-block;
    width: 310px;


    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;

    margin: 20px auto;
}

.sics-item-product:hover .sics-item-product-name{
    color: #f26522;
}

.copyright {
    display: block;
    text-align: center;
    padding-bottom: 20px;

    font-family: sans-serif;
    font-size: 12px;
    color: white;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

